<% if @vikings.count == 0 %>
    <div class="no_vikings_title"><b>No vikings till the moment, Odin is MAD!!!</b></div>
<% else %>

  
  <div class="home">
    
      <% @vikings.each do |viking| %>
        		
          <div id="group_index">
            <p>
              <b><%= link_to viking.name, viking %></b>
            </p>

            <div class="image">
              <img><%= image_tag viking.image.url(:thumb) %></img>
            </div>
          </div>
        	<br>
      <% end %>
  </div>

<% end %>

<div class="link_index">
  <p><span>Create a<span> <%= link_to "New Viking", new_viking_path %></p>
</div>





