<ul class="nav nav-pills nav-justified" id="title_index">
  <li role="presentation"><%= link_to "New Viking", new_viking_path %></li>
</ul>

<br> <br>

<% if @vikings.count == 0 %>

  <h1>No vikings till the moment <small>Odin is MAD!!!</small></h1>

<% else %>
	
	<% @vikings.each do |viking| %>
  		
    	<p>
        <b><%= link_to viking.name, viking %></b>
      </p>

      <p>
        <%= image_tag viking.image.url(:thumb) %>
      </p>
  		<br>
  <% end %>

<% end %>