/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #bdc3c7;
}

#title_show{
	margin-top: 30px;
	text-align: center;
	text-decoration: underline;
}

#history_show{
	margin-top: 30px;
	font-size: 19px;
	text-align: center;
	text-justify: inter-word;
}

#image_show{
	margin-top: 30px;
	text-align: center;
}

#links_show{
	margin-top: 30px;
}

#title_index{
	margin-top: 30px;
}


