.home{
	p{
		text-align: center;
		font-size: 25px;
		margin-left: 6px;
	}
	p::after {
		content: "\00d8";
	}

	.image{
		text-align: center;
		margin-left: 6px;

		img{
			margin-bottom: 5px;
			border-radius: 50%;
		}
	}

	#group_index{
		background-image: linear-gradient(to bottom, #dcdcdc, #ababab); 
		margin-top: 16px;
	}
}

.link_index{
	margin-top: 28px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	background-image: linear-gradient(to bottom, #dedede, #cdcdcd);
	p{	
		font-size: 21px;
		text-align: center; 
	}

	p span {
		color: #191919;
	}
}

.no_vikings_title{
	font-size: 25;
}

.pagination_position{
	margin-top: 21px;
	text-align: center;
	
}

::-webkit-input-placeholder {
   font-weight: bold;
}

:-moz-placeholder {
   font-weight: bold;
}

::-moz-placeholder {
   font-weight: bold;
}

:-ms-input-placeholder {  
   font-weight: bold;
}

.no_vikings_founded{
	font-size: 25px;
	color: #FF1919;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.input-group{
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	border-radius: 25%;

	button{
		width: 100%;	
	}
}
